################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WTWTechTest/bin
/.idea/.idea.WTWTechTest/.idea
.DS_Store
WTWTechTest.sln.DotSettings.user
~$W Tech Test Part 1.docx
/WTWTechTest/obj
/extent-report
